h1{
    background-color:linen;
}
*{
    background-color:snow;
}
body{
    background-color:ghostwhite;
    font-size: 20px;
    font-style:oblique;
    text-align: center;
    font-weight:bold;
    text-decoration:underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    width: 700px;
    margin-top: 20px;
    border: width 2px;
    
    margin-left: 550px;
}
