html {
    font-size: 80px;
    font-family: "Open Sans", sans-serif;
}



h1 {
    font-size: 20px;
    text-align: center;
}

p,
li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: aliceblue;
}

body {
    width: 1008px;
    margin: 10 auto;
    background-color: aliceblue;
    padding: 0 20px 20px 20px;
    border: 4px solid black;
}

img {
    display: var(20px);
    margin: 20 auto;
    width: 26%;

}
*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style:square;
border:1px solid #c0c0c0;
float:none;
}
.menu li{
    position:relative;
    float:none;
    border-right:1px solid #c0c0c0;
    }